@use 'y-element-ultra/es/style/util.scss' as *;

.y-file-picker-modal {
  height: 692px;
  min-height: 434px;

  & > .el-dialog__body {
    display: flex;
    flex-direction: column;

    & > .y-modal-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 0;
    }
  }
}

.y-file-picker-wrapper.y-split-panel .y-split-panel-collapse-btn {
  top: auto;
  bottom: 124px;
  margin-top: 0;
}

.y-file-picker-tree-icon {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  user-select: none;
}

.y-file-picker-wrapper .y-file-picker-left {
  flex: 1;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: calc(#{yVar('tree', 'item-radius')} * 2);
  padding-right: calc(#{yVar('tree', 'item-radius')} * 2);
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  user-select: none;
  #{yVarName('tree', 'item-height')}: 36px;

  .el-tree-node__content {
    position: relative;

    & > .el-tree-node__label::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }

    & > .y-file-picker-tree-more {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 -8px 0 0;
      color: elVar('text-color', 'placeholder');
      font-size: 12px;
      border-radius: elVar('border-radius', 'base');
      transition: all 0.2s;
      z-index: 3;

      &:hover {
        color: elVar('text-color', 'regular');
        background: hsla(0, 0%, 60%, 0.15);
      }
    }
  }
}

.y-file-picker-left-add {
  flex-shrink: 0;
  padding: 0 6px;
  margin: 2px 12px 8px 12px;
  border-radius: elVar('border-radius', 'base');
  border: 1px dashed elVar('color-primary');
  box-sizing: border-box;
  font-size: 12px;
  line-height: 20px;
  user-select: none;

  &:hover {
    border-color: elVar('color-primary', 'light-5');
  }
}

.y-file-picker-main {
  flex: 1;
  display: flex;
  overflow: auto;
}

.y-file-picker-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.y-file-picker-toolbar {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-bottom: 1px solid elVar('border-color', 'light');
  box-sizing: border-box;
}

.y-file-picker-search {
  flex: 1;
  display: flex;
  max-width: 220px;
  margin: 0 8px;

  & > .el-input {
    flex: 1;

    & > .el-input__wrapper {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  & > .el-button {
    flex-shrink: 0;
    margin-left: -1px;
    position: relative;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    & > .el-icon > svg {
      transform: translateY(-1px);
    }
  }
}

.y-file-picker-toolbar > .y-segmented {
  #{yVarName('segmented', 'height')}: 26px;
  #{yVarName('segmented', 'font-size')}: 16px;
  #{yVarName('segmented', 'item-padding')}: 8px;
}

.y-file-picker-file-list {
  flex: 1;
  overflow: auto;
}

.y-file-picker-file-list > .y-file-list-group {
  #{yVarName('file', 'item-width')}: 102px;
  #{yVarName('file', 'item-padding')}: 4px 2px 2px 2px;
  min-height: 100%;

  & > .y-file-list {
    & > .y-file-list-header {
      display: none;
    }

    & > .y-file-list-body {
      display: grid;
      grid-gap: 14px 0px;
      grid-template-columns: repeat(6, 1fr);
      padding: 6px 1px 1px 1px;

      & > .y-file-list-item {
        margin: 0 auto;

        .y-file-list-item-title {
          font-size: 12px;
          margin-top: 0;
        }
      }
    }
  }

  & > .y-file-list-table {
    min-width: 528px;

    & > .y-file-list-header {
      position: sticky;
      top: 0;
    }
  }

  &.is-ping-top > .y-file-list-table > .y-file-list-header {
    z-index: 2;
    background: elVar('bg-color', 'overlay');
  }
}

.y-file-picker-body > .el-empty {
  padding: 0;
  flex: 1;
}

.y-file-picker-body > .el-pagination {
  padding-bottom: 8px;
}

.y-file-picker-right {
  flex-shrink: 0;
  width: 128px;
  border-left: 1px solid elVar('border-color', 'light');
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.y-file-picker-right-header {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 12px 8px 12px;
  box-sizing: border-box;
}

.y-file-picker-right-title {
  flex: 1;
  width: 100%;
  overflow: hidden;
  padding-right: 8px;
  box-sizing: border-box;
  font-size: 13px;
}

.y-file-picker-right-clear {
  width: 100%;
  padding: 0 6px;
  margin-top: 6px;
  border-radius: elVar('border-radius', 'base');
  border: 1px dashed elVar('color-danger');
  box-sizing: border-box;
  font-size: 12px;
  line-height: 20px;
  user-select: none;

  &:hover {
    border-color: elVar('color-danger', 'light-5');
  }
}

.y-file-picker-right > .y-upload-list {
  flex: 1;
  overflow: auto;
  padding: 6px 0 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;

  & > .y-upload-item {
    flex-shrink: 0;
    margin: 0;

    & + .y-upload-item {
      margin-top: 8px;
    }
  }
}

@media screen and (max-width: 980px) {
  .y-file-picker-file-list {
    & > .y-file-list-group > .y-file-list > .y-file-list-body {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

@media screen and (max-width: 888px) {
  .y-file-picker-file-list {
    & > .y-file-list-group > .y-file-list > .y-file-list-body {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media screen and (max-width: 788px) {
  .y-file-picker-main {
    flex-direction: column;
  }

  .y-file-picker-right {
    width: auto;
    height: 156px;
    border-left: none;
    border-top: 1px solid elVar('border-color', 'light');

    & > .y-file-picker-right-header {
      padding-top: 8px;
      padding-bottom: 0;
      flex-direction: row;

      & > .y-file-picker-right-title,
      & > .y-file-picker-right-clear {
        width: auto;
        margin: 0;
      }
    }

    & > .y-upload-list {
      flex-direction: row;
      padding: 0 8px;

      & > .y-upload-item + .y-upload-item {
        margin-top: 0;
        margin-left: 8px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .y-file-picker-right-title {
    text-align: right;
  }
}

@media screen and (max-width: 460px) {
  .y-file-picker-file-list {
    & > .y-file-list-group > .y-file-list > .y-file-list-body {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 358px) {
  .y-file-picker-file-list {
    & > .y-file-list-group > .y-file-list > .y-file-list-body {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.y-file-picker-move-wrapper {
  border: 1px solid elVar('border-color', 'light');
  border-radius: elVar('border-radius', 'base');

  & > .y-file-picker-move-tree {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: calc(#{yVar('tree', 'item-radius')} * 2);
    padding-right: calc(#{yVar('tree', 'item-radius')} * 2);
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    #{yVarName('tree', 'item-height')}: 36px;

    .el-tree-node__content {
      position: relative;
      z-index: 1;

      & > .el-tree-node__label.is-active {
        color: elVar('color-primary');
        font-weight: bold;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -1;
          background: elVar('color-primary', 'light-9');
          border-radius: yVar('tree', 'item-radius');
        }
      }

      & > .el-radio {
        margin: 0 -12px 0 0;
      }
    }
  }
}
